.well
  %h1 Listing products

%table#productsTable.table.table-bordered.table-striped.tablesorter
  %thead
    %tr
      %th Product
      %th Type
      %th{width: "110px"} Icon
      %th{width: "110px"} Preview
      %th{width: "200px"}  Actions

  %tbody
    - collection.each do |product|
      %tr
        %td= product.product_id
        %td= product.class.to_s.demodulize.titleize
        %td= render_image(product.icon)
        %td= render_image(product.preview)
        %td
          = link_to 'Show', polymorphic_path([parent, product]), :class => 'btn btn-mini'
          = link_to 'Edit', edit_polymorphic_path([parent, product]), :class => 'btn btn-mini'
          = link_to 'Destroy', polymorphic_path([parent, product]), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'

.btn-group
  %a.btn.btn-primary.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
    Create Product
    %span.caret
  %ul.dropdown-menu
    = link_to 'New Auto Renewing Subscription', new_subscription_auto_renewal_subscription_path(parent)
    = link_to 'New Free Subscription', new_subscription_free_subscription_path(parent)
    = link_to 'New Non Renewing Subscription', new_subscription_non_renewing_subscription_path(parent)

:javascript
  jQuery(function($) {
    $("#productsTable").tablesorter({
      sortList: [[1,0]],
      headers: {
        0: {
          sorter: false
        },
        2: {
          sorter: false
        },
        3: {
          sorter: false
        },
        4: {
          sorter: false
        }
      }
    });
  });