%p#notice= notice

%p
  %b Product:
  = resource.product_id
%p
  %b Content uid:
  = resource.content_uid
%p
  %b Name:
  = resource.name
%p
  %b Icon uid:
  = resource.icon_uid
%p
  %b Preview uid:
  = resource.preview_uid
%p
  %b Description:
  = resource.description
%p
  %b Paid:
  = resource.paid

.form-actions
  = link_to 'Edit', edit_polymorphic_path([parent, resource]), :class => 'btn'

  -#= link_to 'Back', collection_path(resource_class.new), :class => 'btn'
